.text-xxs {
  font-size: 0.7rem;
  line-height: 0.9rem;
}

.rounded-xss {
  border-radius: 2px !important;
}

.Courses-Section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10px;
}
