.ProductDetails-Container {
  width: 100%;
  .product-image {
    img {
      height: 300px;
      width: 100%;
      border-radius: 0px 0px 12px 12px;
    }
  }
  .Course-info {
    .Course-Content {
      width: 100%;
      margin-bottom: 20px;
      .Content-Header {
        font-size: 18px;
        font-weight: 600;
        margin-left: 12px;
        margin-bottom: 12px;
      }
      .Content {
        font-size: 18px;
        margin-left: 12px;
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
    .Course-Details {
      margin-bottom: 20px;
      width: 100%;
      .Details-Header {
        font-size: 18px;
        font-weight: 600;
        margin-left: 12px;
        margin-bottom: 12px;
      }
      .Details-item {
        font-size: 18px;
        margin-left: 12px;
        margin-bottom: 12px;
      }
    }
  }
  .button-Container {
    display: flex;
    gap: 32px;
    margin-left: 32px;
  }
}
